In [48]:
import numpy as np
import pandas as pd

In [49]:
bpropery_df = pd.read_csv('datasets/bproperty.csv')

In [50]:
bpropery_df.head()

,amenities,area,building_type,location,num_bath_rooms,num_bed_rooms,price,purpose
0,Flooring##Balcony or Terrace##View##Parking Sp...,"1,305 sqft",Apartment,"Block G, Bashundhara R-A, Dhaka",3 Beds,3 Beds,90 Lakh,For Sale
1,View##Floor Level##Flooring##Balcony or Terrac...,"2,000 sqft",Apartment,"Block D, Bashundhara R-A, Dhaka",3 Beds,3 Beds,2.25 Crore,For Sale
2,Parking Spaces##: 1##View##Floor Level##Floori...,"1,700 sqft",Apartment,"Rupnagar R/A, Mirpur, Dhaka",4 Beds,4 Beds,1 Crore,For Sale
3,Floor Level##Parking Spaces##: 1##View##Floori...,"2,190 sqft",Apartment,"Sector 12, Uttara, Dhaka",3 Beds,3 Beds,2.8 Crore,For Sale
4,Parking Spaces##: 1##Balcony or Terrace##Floor...,"2,720 sqft",Apartment,"PC Culture Housing, Mohammadpur, Dhaka",5 Beds,5 Beds,2.05 Crore,For Sale

In [51]:
bpropery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13102 entries, 0 to 13101
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   amenities       12308 non-null  object
 1   area            13102 non-null  object
 2   building_type   13102 non-null  object
 3   location        13102 non-null  object
 4   num_bath_rooms  12346 non-null  object
 5   num_bed_rooms   12346 non-null  object
 6   price           13102 non-null  object
 7   purpose         13102 non-null  object
dtypes: object(8)
memory usage: 819.0+ KB

In [52]:
bpropery_df.describe()

,amenities,area,building_type,location,num_bath_rooms,num_bed_rooms,price,purpose
count,12308,13102,13102,13102,12346,12346,13102,13102
unique,11849,1256,4,879,38,38,1080,2
top,View##Balcony or Terrace##Flooring##Floor Leve...,"1,200 sqft",Apartment,"Rupganj, Narayanganj, Narayanganj City",3 Beds,3 Beds,60 Lakh,For Sale
freq,15,533,12173,422,8902,8902,320,10087

In [53]:
df = bpropery_df.dropna()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12287 entries, 0 to 13101
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   amenities       12287 non-null  object
 1   area            12287 non-null  object
 2   building_type   12287 non-null  object
 3   location        12287 non-null  object
 4   num_bath_rooms  12287 non-null  object
 5   num_bed_rooms   12287 non-null  object
 6   price           12287 non-null  object
 7   purpose         12287 non-null  object
dtypes: object(8)
memory usage: 863.9+ KB

In [55]:
def convert_amenities_dict(amenities):
    #amenities: str = "Flooring##Balcony or Terrace##View##Parking Spaces##: 1##Lobby in Building##Flooring##Elevators in Building##: 1##Electricity Backup##Balcony or Terrace##Double Glazed Windows##View##Parking "
    if amenities is not None :
     
        amenities_list = amenities.replace("##:",":").split("##")
        amenities_dict = {}
        for amenity in amenities_list :
            if ':' in amenity:
                current_amenity = amenity.split(":")
                amenities_dict[current_amenity[0]] = current_amenity[1]
            else:
                amenities_dict[amenity] = True

        return amenities_dict
    
    else:
        return None

In [56]:
df['amenities'] = df['amenities'].apply(convert_amenities_dict)

/var/folders/1d/w72pys2d2q58j17kf_kg6h300000gr/T/ipykernel_2292/3246151531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amenities'] = df['amenities'].apply(convert_amenities_dict)

In [57]:
df.head()

,amenities,area,building_type,location,num_bath_rooms,num_bed_rooms,price,purpose
0,"{'Flooring': True, 'Balcony or Terrace': True,...","1,305 sqft",Apartment,"Block G, Bashundhara R-A, Dhaka",3 Beds,3 Beds,90 Lakh,For Sale
1,"{'View': True, 'Floor Level': True, 'Flooring'...","2,000 sqft",Apartment,"Block D, Bashundhara R-A, Dhaka",3 Beds,3 Beds,2.25 Crore,For Sale
2,"{'Parking Spaces': ' 1', 'View': True, 'Floor ...","1,700 sqft",Apartment,"Rupnagar R/A, Mirpur, Dhaka",4 Beds,4 Beds,1 Crore,For Sale
3,"{'Floor Level': True, 'Parking Spaces': ' 1', ...","2,190 sqft",Apartment,"Sector 12, Uttara, Dhaka",3 Beds,3 Beds,2.8 Crore,For Sale
4,"{'Parking Spaces': ' 1', 'Balcony or Terrace':...","2,720 sqft",Apartment,"PC Culture Housing, Mohammadpur, Dhaka",5 Beds,5 Beds,2.05 Crore,For Sale

In [64]:
df.to_csv('datasets/bproperty_pre_processing.csv',index= False)

In [65]:
bp_df = pd.read_csv('datasets/bproperty_pre_processing.csv')

In [66]:
bp_df.head()

,amenities,area,building_type,location,num_bath_rooms,num_bed_rooms,price,purpose
0,"{'Flooring': True, 'Balcony or Terrace': True,...","1,305 sqft",Apartment,"Block G, Bashundhara R-A, Dhaka",3 Beds,3 Beds,90 Lakh,For Sale
1,"{'View': True, 'Floor Level': True, 'Flooring'...","2,000 sqft",Apartment,"Block D, Bashundhara R-A, Dhaka",3 Beds,3 Beds,2.25 Crore,For Sale
2,"{'Parking Spaces': ' 1', 'View': True, 'Floor ...","1,700 sqft",Apartment,"Rupnagar R/A, Mirpur, Dhaka",4 Beds,4 Beds,1 Crore,For Sale
3,"{'Floor Level': True, 'Parking Spaces': ' 1', ...","2,190 sqft",Apartment,"Sector 12, Uttara, Dhaka",3 Beds,3 Beds,2.8 Crore,For Sale
4,"{'Parking Spaces': ' 1', 'Balcony or Terrace':...","2,720 sqft",Apartment,"PC Culture Housing, Mohammadpur, Dhaka",5 Beds,5 Beds,2.05 Crore,For Sale